<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>바구니 완충일</th>
                    <th>기부 상태</th>
                    <th>모인 쌀 갯수</th>
                    <th>기부자 명단</th>
                    <th>완료 하기</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="donation : ${donations}">
                    <td th:text="${donation.createdDate}">바구니 채워진 날짜</a></td>
                    <td th:text="${donation.status}">기부 상태</a></td>
                    <td th:text="${donation.basket}">기부 상태</a></td>
                    <td th:each="user : ${donation.users}">
                        <p th:text="${user.username}"></p>
                    </td>
                    <td>

                        <form method="post"
                              action="donation_list.html"
                              th:action="@{|/donations/${donation.id}/done|}"
                              th:if ="${#strings.equals(donation.status,'PROGRESS')}"
                        >
                            <button> 완료 </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>