<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <div class="container mt-5">
        <h2>회원가입</h2>
        <form th:action>
            <div class="mb-3">
                <label for="username" class="form-label">사용자명</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">가입하기</button>
        </form>
    </div>

</div>
</html>